@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import url("gruvbox-light.css");

body {
	background-color: var(--bg_h);
}

.kosugi-maru-regular {
	font-family: "Kosugi Maru";
	font-weight: 400;
	font-style: normal;
}

/*GOD CONTAINER*/
.god-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

/*GOD CONTAINER COMPLETE*/

/*TOP CONTAINER*/
.top-container {
	display: flex;
	flex-direction: row;
}

/*TOP CONTAINER COMPLETE*/

/*THEME CONTAINER*/

.toggle-container {
	cursor: pointer;
}

/* Styles for the sun and moon icons */
.sun-icon,
.moon-icon {
	width: 2rem;
	height: 2rem;
	transition: opacity 0.8s;
	padding: 20px;
}

/* Hide moon icon by default (light mode) */
.moon-icon {
	display: none;
}

.dark-mode .moon-icon {
	color: var(--fg);
	display: inline-block;
}




/*THEME CONTAINER COMPLETE*/

/*BLOCK TO ADD HEADING ANIMATION */
.welcome-heading-container {
	font-family: "Kosugi Maru";
	font-weight: 800;
	font-style: normal;
	color: var(--yellow-dim);
	white-space: nowrap;
	margin: 0;
	display: flex;
	justify-content: center;
	/* Horizontal centering */
	flex: 1;
}

#welcome-heading {
	display: inline-block;
	/* Retain inline-block to allow size based on content */
	border-right: 2px solid #c07a8e;
	/* cursor effect */
	padding-right: 5px;
	animation: blink 5s step-end infinite;
	/* cursor blinking*/
	font-size: 4em;
}



@keyframes blink {
	50% {}
}

/* HEADING ANIMATION COMPLETE */

/*BODY CONTAINER*/
/* LEFT AND RIGHT DIVIDER */



/* LEFT AND RIGHT DIVIDER COMPLETE */
.body-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 9;
}

.small-container {
	display: flex;
	flex-direction: row;
	padding: 20px;
	gap: 20px;
	flex: 9;
}

.left-body {
	color: var(--purple-dim);
	flex: 1;
	border-radius: 28px;
	padding: 20px;
	overflow: hidden;
	font-family: "Kosugi Maru";
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
}

.right-body {
	/* background-color: var(--bg_s); */
	flex: 1;
	border-radius: 28px;
	padding: 20px;
	overflow: hidden;
}

.right-body img {
	width: 100%;
	/* or any custom size */
	height: 100%;
	object-fit: cover;
	border-radius: 28px;
}

/* ADDING CARDS TO THE PAGE */
.card-container {
	display: flex;
	width: -moz-available;
	margin: 0 auto;
	flex: 1;
	flex-direction: column;
	/*! min-height: 0; */
	/*! height: -moz-available; */
}

.card-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	/*! flex-wrap: wrap; */

	/*! padding: 50px 0; */
}

.card-item {
	-ms-flex-preferred-size: calc(33.33333% - 30px);
	flex-basis: calc(33.33333% - 30px);

	margin: 0 15px 30px;

	overflow: hidden;

	border-radius: 28px;
	font-family: "Kosugi Maru";
	font-weight: 400;
	font-style: normal;
	border: 2px solid var(--blue-dim);

}

.card-item-link {
	display: block;
	padding: 30px 20px;
	background-color: var(--bg_s);

	overflow: hidden;

	position: relative;
	text-decoration: none;
}

.card-item_link:hover {
	text-decoration: none;
	color: var(--fg);
}

.card-item-link:hover .card-item-bg {
	-webkit-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
}

.card-item-title {
	min-height: fit-content;
	min-width: fit-content;
	margin: 0 0 0;

	overflow: hidden;

	font-weight: bold;
	font-size: 30px;
	color: var(--fg);

	z-index: 2;
	position: relative;

	text-align: center;
	align-content: center;


}

.card-item-bg {
	height: 128px;
	width: 128px;
	background-color: var(--blue-dim);

	z-index: 1;
	position: absolute;
	top: -75px;
	right: -75px;

	border-radius: 50%;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.card-item:nth-child(2n) {
	border: 2px solid var(--green-dim);
}

.card-item:nth-child(2n) .card-item-bg {
	background-color: var(--green-dim);
}


.card-item:nth-child(3n) {
	border: 2px solid var(--aqua-dim);
}

.card-item:nth-child(3n) .card-item-bg {
	background-color: var(--aqua-dim);
}


.card-item:nth-child(4n) {
	border: 2px solid var(--purple-dim);
}

.card-item:nth-child(4n) .card-item-bg {
	background-color: var(--purple-dim);
}


.card-item:nth-child(5n) {
	border: 2px solid var(--red-dim);
}

.card-item:nth-child(5n) .card-item-bg {
	background-color: var(--red-dim);
}


.card-item:nth-child(6n) {
	border: 2px solid var(--yellow-dim);
}

.card-item:nth-child(6n) .card-item-bg {
	background-color: var(---yellow-dim);
}


@media only screen and (max-width: 979px) {
	.card-item {
		-ms-flex-preferred-size: calc(50% - 30px);
		flex-basis: calc(50% - 30px);
	}

	.card-item-title {
		font-size: 24px;
	}
}

@media only screen and (max-width: 767px) {
	.card-container {
		width: 96%;
	}

}

@media only screen and (max-width: 639px) {
	.card-item {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}

	.card-item-title {
		min-height: 72px;
		line-height: 1;

		font-size: 24px;
	}

	.card-item-link {
		padding: 22px 40px;
	}
}

/* CARD CSS COMPLETE */
